<custom-announce>
  <div class="announcement-freshcap" >
    <p class="h5 fresh-nounce">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed nisi ut aliquip ex ea commodo consequat.</span>
    </p>
  </div>
</custom-announce>
    {% comment %}
     <div class="myslick-slide-wrapper">
    <div class="myprojectx" id="tricksil">
     <div class="colx">Farhan working slide 1</div>
     
      <div class="colx">Farhan working slide 2</div>
      
      <div class="colx">Farhan working slide 3</div>
      <div class="colx">Farhan working slide 4</div>
      <div class="colx">Farhan working slide 5</div>
      <div class="colx">Farhan working slide 6</div>
      <div class="colx">Farhan working slide 7</div>
      
      </div>
    </div>
  {% endcomment %}
<script>
  $(document).ready(function(){
          $('#tricksil').slick({
      });
  });
</script>
