<custom-announce>
  <div class="announcement-freshcap" >
    <p class="h5">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed nisi ut aliquip ex ea commodo consequat.</span>
    </p>
  </div>
</custom-announce>