<style>
  .bord-chang{
    border:none!important;
  }
  .img-contain-freshcap {
    max-width: 100%;
    width: 100px;
    margin: 0 auto;
}
.fresh-txt-logo{
      text-align: center;
      margin: 0;
     line-height: 25px;
    color: #000;
}  
  
</style>
<div class="colection_list_container">
  <div class="col-list-bgimage">
   <div class="collection_list_heading"> <h1> {{ section.settings.sec_heading }}</h1> </div>
  <div class="collection_list_cta_all"> <p> {{ section.settings.view_all }} </p> </div>
<div class="leo-container">
  {%for block in section.blocks%}
  <div class="leo-content bord-chang">
      <div class="leo-content-overlay"></div>
      <div class="img-contain-freshcap"><img class="leo-content-image" src="{{block.settings.image | image_url: width: 150}}" width="100%" height="auto"></div>
      <div class="fresh-txt-logo">
        <p class=""><span>{{ block.settings.col_name }}</span></p>
      </div>
  </div>{%endfor%}
</div>
  </div>
</div>
{% schema %}
  {
    "name": "functional-mushroom",
    "settings": [
       {
          "type": "text",
           "id": "sec_heading",
          "label": "Heading"
      },
       {
          "type": "text",
           "id": "view_all",
          "label": "collection substitle"
       }
    ],
"blocks": [
    {
      "type": "select",
      "name": "Add Block",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
       		"label": "Select Your Image"
        },
        {
          "type": "text",
           "id": "col_name",
          "label": "collection Heading",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "functional-mushroom"
    }
  ]
  }
{% endschema %}