.disclosure {
    display: none;
}

@font-face {
    font-family: 'Floki';
    src: url("https://cdn.shopify.com/s/files/1/0596/1898/4089/files/Floki-Bold.woff?v=1716232914") format('woff'),
        url("https://cdn.shopify.com/s/files/1/0596/1898/4089/files/Floki-Bold.woff2?v=1716232914") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1 {
  font-family : 'Floki'!important;
  text-transform: uppercase;
   font-size: 96px !important;
    line-height: 80% !important;
}
h2, h3 {
  font-family : 'Floki'!important;
  text-transform: uppercase;
   font-size: 32px !important;
    line-height: 80% !important;
}

@font-face {
    font-family: 'Moderat';
    src: url("https://cdn.shopify.com/s/files/1/0596/1898/4089/files/Moderat-Mono-Light.woff?v=1716232914") format('woff'),
        url("https://cdn.shopify.com/s/files/1/0596/1898/4089/files/Moderat-Mono-Light.woff2?v=1716232914") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


.announcement-freshcap{
  background-color: #FD4C22;
    padding: 20px;
}
p.announcement-bar__message.h5 {
    color: #fff;
}