.disclosure {
    display: none;
}

@font-face {
    font-family: 'Floki';
    src: url('{{Floki-Bold.woff2 | asset_url }}') format('woff2'),
        url('{{Floki-Bold.woff | asset_url }}') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3 {
  font-family : 'Floki'!important;
  text-transform: uppercase;
    font-size: 50px;
}